.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.editar-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 90%;
  background-color: #000;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.editar-produto h1 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.editar-produto input,
.editar-produto select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #1e1e1e;
  color: #fff;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #00bfff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

button:hover {
  background-color: #0099cc;
}

button.cancelar {
  background-color: #ff4040;
}

button.cancelar:hover {
  background-color: #cc3333;
}