/* ========= FORM GENERAL ========= */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid #dcdfe6;
  font-size: 15px;
  background: #ffffff;
  transition: 0.2s;
}

input:focus,
select:focus {
  border-color: var(--blue);
  box-shadow: 0px 0px 6px rgba(56, 103, 214, 0.3);
  outline: none;
}

/* Labels */
label {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-dark);
}

/* Título de página */
.container h2 {
  margin-top: 0;
  color: var(--blue-dark);
  border-left: 6px solid var(--blue);
  padding-left: 10px;
}

/* Mensagens de erro e sucesso */
p {
  padding: 8px 12px;
  border-radius: var(--radius);
}

p.error {
  background: #ffcccc;
  color: #b30000;
}

p.success {
  background: #d3ffd3;
  color: #0f8a0f;
}
